<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>International Relations | IIT Kharagpur</title>
    <meta name="description" content="Web Team Task">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="logo">
        <a href="#"><img src="https://international.iitkgp.ac.in/static/website/img/header.png" height="50px" width="auto"></a>
    </div>

    <nav class="navbar1">
        
        <ul class="ul1">
            <li class="link1"><a href="#">Logout</a></li>
            
            <li class="link1"><a href="#">Edit Profile</a></li>
            <li class="link1"><a href="#">My Applications</a></li>
            <li class="link1 active"><a href="index.html" style="color:white;">Universities</a></li>
        </ul>
    </nav>

    <table class="navbar2">
        <tr class="ul2">
            <td class="link2 active" style="background-color: rgb(10, 71, 107);"><a href="index.html" class="navText2" >All</a></td>
            <a class="link2"><a href="#" class="navText2">North America</a></td>
            <td class="link2"><a href="#" class="navText2">South America</a></td>
            <td class="link2"><a href="#" class="navText2">Asia</a></td>
            <td class="link2"><a href="#" class="navText2">Europe</a></td>
            <td class="link2"><a href="#" class="navText2">Australia</a></td>
        </tr>
    </table>

    <div class="colleges">
        <div class="card card1">
            <p class="college">Australian National University</p>
            <p class="country">Australia</p>
            <p class="expenses">Expenses: 10-12 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
        </div>
    
        <div class="card card2">
            <p class="college">The University Of Melbourne</p>
            <p class="country">Australia</p>
            <p class="expenses">Expenses: 10-12 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
    
        </div>
    
        <div class="card card3">
            <p class="college">University Of British Columbia</p>
            <p class="country">Canada</p>
            <p class="expenses">Expenses: 10-12 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
    
        </div>
    
        <div class="card card4">
            <p class="college">UNSW Sydney</p>
            <p class="country">Australia</p>
            <p class="expenses">Expenses: 10-12 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
    
        </div>
    
        <div class="card card5">
            <p class="college">University Of Edinburgh</p>
            <p class="country">United Kingdom</p>
            <p class="expenses">Expenses: 15 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
    
        </div>
    
        <div class="card card6">
            <p class="college">The University Of Manchestar</p>
            <p class="country">United Kingdom</p>
            <p class="expenses">Expenses: 15 Lakhs</p>
            <p class="deadline">Deadline: Sept. 15, 2019</p>
            <button type="button" class="btn">Apply</button>
        </div>
    </div>

    <%-- for(var i=0;i<=colleges.length;i++) { %>
        <div class="card card<%-- i %>">
            <p class="college"><%-- colleges[i] %></p>
            <p class="country"><%-- countries[i] %>m</p>
            <p class="expenses">Expenses: <%-- expensess[i] %></p>
            <p class="deadline">Deadline: <%-- deadlines[i] %></p>
            <button type="button" class="btn">Apply</button>
        </div>
    <%-- } %>


    <script src="" async defer></script>
</body>

</html>